/* Button */
.btn0 {
    background-color: transparent;
    color: var(--aside-btn);
    height: 35px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.btn0:hover {
    background-color: var(--black);
    color: var(--white) !important;
}

.btn0.active {
    background-color: var(--black);
    color: var(--white) !important;
}

.formbtn,
.listbtn,
.headbtn,
a .formbtn,
a .listbtn,
a .headbtn {
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05);
}

@media screen and (min-width: 1140px) {

    /* Form Button */
    .formbtn,
    a .formbtn {
        background-color: var(--white);
        color: var(--black);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--black);
        height: 35px;
        border-radius: 5px;
        width: 150px;
    }

    .formbtn:hover,
    a .formbtn:hover {
        background-color: var(--black);
        color: var(--white);
    }

    /* Profile Button */
    .headbtn,
    a .headbtn {
        background-color: var(--white);
        color: var(--black);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--black);
        height: 35px;
        border-radius: 5px;
        width: 150px;
    }

    .headbtn:hover,
    a .headbtn:hover {
        background-color: var(--black);
        color: var(--white);
    }

    /* List Button */
    .listbtn {
        background-color: var(--white);
        color: var(--black);
        font-weight: 600;
        border: none;
        padding: 4px 15px;
        border-radius: 20px;
        font-size: 15px;
        width: 100%;
    }

    .listbtn:hover,
    .listbtnactive {
        background-color: var(--black);
        color: var(--white);
    }

}

@media screen and (min-width: 768px) and (max-width: 1140px) {

    /* Form Button */
    .formbtn,
    a .formbtn {
        background-color: var(--white);
        color: var(--black);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--black);
        height: 35px;
        border-radius: 5px;
        width: 150px;
    }

    .formbtn:hover,
    a .formbtn:hover {
        background-color: var(--black);
        color: var(--white);
    }

    /* Profile Button */
    .headbtn,
    a .headbtn {
        background-color: var(--white);
        color: var(--black);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--black);
        height: 35px;
        border-radius: 5px;
        width: 150px;
    }

    .headbtn:hover,
    a .headbtn:hover {
        background-color: var(--black);
        color: var(--white);
    }

    /* List Button */
    .listbtn {
        background-color: var(--white);
        color: var(--black);
        font-weight: 600;
        border: none;
        padding: 4px 15px;
        border-radius: 20px;
        font-size: 15px;
        width: 100%;
    }

    .listbtn:hover,
    .listbtnactive {
        background-color: var(--black);
        color: var(--white);
    }

}

@media screen and (max-width: 768px) {

    /* Form Button */
    .formbtn,
    a .formbtn {
        background-color: var(--white);
        color: var(--black);
        font-size: 13px;
        font-weight: 600;
        border: 1px solid var(--black);
        height: 30px;
        border-radius: 5px;
        width: 125px;
    }

    .formbtn:hover,
    a .formbtn:hover {
        background-color: var(--black);
        color: var(--white);
    }

    /* Profile Button */
    .headbtn,
    a .headbtn {
        background-color: var(--white);
        color: var(--black);
        font-size: 13px;
        font-weight: 600;
        border: 1px solid var(--black);
        height: 30px;
        border-radius: 5px;
        width: 100px;
    }

    .headbtn:hover,
    a .headbtn:hover {
        background-color: var(--black);
        color: var(--white);
    }

    /* List Button */
    .listbtn {
        background-color: var(--white);
        color: var(--black);
        font-weight: 600;
        border: none;
        padding: 4px 15px;
        border-radius: 20px;
        font-size: 13px;
        width: 100%;
    }

    .listbtn:hover,
    .listbtnactive {
        background-color: var(--black);
        color: var(--white);
    }

}