@media screen and (min-width: 1098px) {
    
    .sidebodydiv .sidebodyhead h4 {
        color: var(--black);
        font-weight: 600;
        font-size: 20px;
    }

    .mainbdy {
        display: flex;
        justify-content: space-between;
    }

    .leftct {
        padding: 5px 0px 10px 5px;
    }

    .leftct .row div {
        display: grid;
        grid-template-columns: 30% 2% 35%;
        padding-right: 0px;
    }

    .leftct .row div .txtgray {
        color: var(--label);
    }

    .leftct .row div .txtblack {
        color: var(--black);
        font-weight: 600;
    }

    .rightcntnt {
        padding-right: 50px;
    }

    .rightcntnt .pfimg img {
        object-fit: cover;
        object-position: top;
    }

}

@media screen and (min-width: 768px) and (max-width: 1098px) {
    
    .sidebodydiv .sidebodyhead h4 {
        color: var(--black);
        font-weight: 600;
        font-size: 20px;
    }

    .mainbdy {
        display: flex;
        justify-content: space-between;
    }

    .leftct {
        padding: 5px 0px 10px 5px;
    }

    .leftct .row div {
        display: grid;
        grid-template-columns: 30% 2% 35%;
        padding-right: 0px;
    }

    .leftct .row div .txtgray {
        color: var(--label);
    }

    .rightcntnt {
        padding-right: 50px;
    }

    .rightcntnt .pfimg img {
        object-fit: cover;
        object-position: top;
    }

}

@media screen and (max-width: 768px) {
    
    .sidebodydiv .sidebodyhead h4 {
        color: var(--black);
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }

    .mainbdy {
        display: block;
    }

    .leftct {
        padding: 5px 0px 10px 5px;
    }

    .leftct .row div {
        display: grid;
        grid-template-columns: 45% 2% 50%;
        padding-right: 0px;
    }

    .leftct .row div .txtgray {
        color: var(--label);
        font-size: 13px;
    }

    .leftct .row div .txtblack {
        color: var(--black);
        font-size: 13px;
    }

    .rightcntnt .pfimg img {
        object-fit: cover;
        object-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}